<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>skrabbit's blog</title>
  </head>
  <body>
    <div>
      <h1><a href="/">skrabbit's blog</a></h1>
    </div>
    <div>
      <p>published: 14.06.2014, 11:35</p>
      <h2><a href="">First Post</a></h2>
      <p>
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Sed eros ante, mattis ullamcorper, posuere quis, tempor
        vel.
      </p>
    </div>
    <div>
      <p>published: 15:06:2014, 2:40</p>
      <h2><a href="">Second Post</a></h2>
      <p>
        Facilisi. Donec ipsum enim, congue in, tempus id, pulvinar sagittis,
        leo. Donec et elit in nunc blandit auctor. Nulla congue urna.
      </p>
    </div>
  </body>
</html>
